HF_TOKEN=hf_access_token_here
OPENAI_API_KEY=sk-no-key-required
LLAMA_ARG_HF_REPO=your_hf_model_repo
LLAMA_ARG_HF_FILE=your_model_name   ## e.g., gemma3-1b-ft-Q4_K_M.gguf, gemma3-1b-ft-Q5_K_M.gguf, gemma3-1b-ft-Q8_0.gguf
LLAMA_ARG_PORT=8080